{
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "printWidth": 150,
    "trailingComma": "all",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false
    
  }